NODE_ENV=development
PORT=3000

POKEAPI_BASE_URL=https://pokeapi.co/api/v2

GEMINI_API_KEY="API_KEY_DO_GEMINI_AQUI"
GEMINI_MODEL=gemini-3.5-flash

DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=pokedex_user
DB_PASSWORD=coloque_uma_senha_local
DB_DATABASE=pokedex
DB_LOGGING=false